/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/*header*/

.barre-navigation {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 0;
  gap: 30px;
}

.logo {
  width: 169.09px;
  height: 79px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 61.09px;
  height: 19px;
}

.liens {
  display: flex;
  justify-content: space-around;
  width: 344px;
  height: 79px;
}

.sizelien1 {
  width: 113px;
  height: 35px;
}

.sizelien2 {
  width: 63px;
  height: 35px;
}

.barre-navigation .bordure {
  border: 1px solid transparent;
  transition: border-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.bordure:hover {
  border-top-color: blue;
  color: #0065fc;
}

/*body*/

.main-container {
  width: 100%;
  box-sizing: border-box;
  gap: 35px;
}

/*info_group*/

.info-group {
  width: 1340px;
  height: 281px;
  gap: 35px;
  margin-top: 20px;
}

/*headline*/

.headline {
  width: 1340px;
  height: 53px;
}

.headline h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  width: 1340px;
  height: 26px;
  margin: 0px;
}

.headline p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  width: 1340px;
  height: 19px;
  margin-top: 8px;
}

/*search-bar*/

.search-bar {
  width: 377px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.group15 {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  border: 1px 0px 0px;
  background-color: #f2f2f2;
}

.vector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid.fa-location-dot.vector.rectangle14::before {
  color: black;
  width: 14px;
  height: 18px;
  top: 15px;
  left: 18px;
}

.rectangle14 {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  border: 1px 0px 0px;
}

.search {
  width: 195px;
  height: 49px;
  border: none;
}

#city-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

#city-input::placeholder {
  padding-left: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 21.13px;
}

#search {
  cursor: pointer;
  width: 195px;
  height: 49px;
  background-color: #0065fc;
  border-top-right-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
}

.buttonsearch {
  width: 132px;
  height: 49px;
  border-radius: 0px 15px 0px 15px;
  border-color: transparent;
  gap: 10px;
  border: 1px 0px 0px;
}

#searchbutton {
  width: 132px;
  height: 49px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
  border-color: transparent;
}

.fa-magnifying-glass {
  display: none; /*masquer la loupe*/
}

/*filterbar*/

.filterbar {
  width: 758px;
  height: 50px;
  gap: 15px;
  background: white;
  border: 1px solid transparent;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.filters {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.filterbar .babyfiltre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  width: 173px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}

.babyfiltre:hover {
  background-color: #deebff;
  cursor: pointer;
}

.mon-icon {
  width: 22px;
  height: 22px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  color: #0065fc;
}

i.mon-icon.fa-solid::before {
  font-size: 22px;
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infobar {
  width: 1340px;
  height: 24px;
  gap: 10px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.fa-info::before {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.infobar i {
  border: 2px solid #deebff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  height: 614px;
  gap: 40px;
  margin-top: 40px;
  position: relative;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements-title h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83;
  height: 26px;
  margin: 0;
  display: flex;
  align-items: center;
}

.hebergements {
  width: 871px;
  display: flex;
  flex-wrap: wrap;
  height: 614px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 811px;
  gap: 30px;
  margin-top: 33px;
  justify-content: center;
}

.hebergements .card-main {
  width: 250.33px;
  height: 207.25px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.card-main img {
  width: 240.33px;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid #ffffff;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}

.hebergements .frame16 {
  width: 50px;
  height: 64.25px;
  color: black;
  display: flex;
  align-items: center;
}

.frame16 .card-txt {
  width: 235px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
}

.hebergements .frame16 .card-title {
  font-weight: 700;
  line-height: 18.78px;
  width: 235px;
  height: 19px;
  font-size: 16px;
}

.frame16 .card-subtitle {
  font-weight: 400;
  line-height: 16.44px;
  width: 245px;
  height: 19px;
  font-size: 14px;
}

p.card-subtitle .card-rating {
  display: flex;
  align-items: center;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 811px;
  height: 23px;
  text-align: left;
  display: flex;
  padding-bottom: 5px;
}

.fa-solid::before {
  font-size: 14px;
  color: #0065fc;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame16 .card {
  display: flex;
  margin-top: 33px;
}

.frame16 img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.frame16 .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.frame16 .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.frame16 .card-subtitle {
  margin: 0;
}

.frame16 .card-rating {
  margin-bottom: 5px;
}

/*section activités*/

h6 {
  width: 1280px;
  height: 30.02px;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  color: black;
  display: flex;
  padding-left: 30px;
  margin-bottom: 15px;
}
.section-activité {
  width: 100%;
  height: 559.02px;
}

.Activités-à-Marseille {
  width: 100%;
  height: 559.02px;
}

.frame14 {
  width: 1340px;
  height: 439px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.activité {
  width: 297.5px;
  height: 439px;
}

.frame14 img {
  width: 297.5px;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;

  box-shadow: 0px 3px 15px 0px #0000001a;
}

.frame {
  width: 297.5px;
  height: 59px;
  border-radius: 0px 0px 20px 20px;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lieux {
  width: 297.5px;
  height: 59px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.frame.lieux h3 {
  width: 259.5px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  text-align: left;
  padding-left: 15px;
}

/*footer*/

.footer {
  width: 1340px;
  height: 163px;
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.footer-section {
  width: 446.67px;
  height: 163px;
  gap: 15px;
  padding: 5px 0px 0px 20px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer h3 {
  font-weight: bold;
  font-size: 18px;
  padding-left: 40px;
  width: 50%;
  padding: 0;
}

footer a {
  color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  * {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  }

  :root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
  }

  .fa-solid {
    color: var(--main-color);
  }

  body {
    margin: 0;
    width: 100%;
  }

  main {
    display: flex;
    justify-content: center;
    height: 1700px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .section-title {
    margin: 0;
    font-size: 22px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .card img {
    object-fit: cover;
  }

  .card-title {
    font-size: 16px;
  }

  .euro {
    font-weight: 700;
  }

  .neutral-star {
    color: var(--main-bg-color);
  }

  /*header*/
  .barre-navigation {
    width: 1024px;
    height: 79px;
    padding: 0px 0.31px 0px 0px;
  }

  .logo {
    padding-left: 5%;
  }
  /*body*/

  body {
    width: 1024px;
    height: 2002.52px;
  }

  .main-container {
    width: 100%;
    height: 1893.52px;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 5%;
  }

  /*info_group*/

  .info-group {
    width: 924px;
    height: 322px;
    gap: 35px;
  }

  /*headline*/

  .headline {
    width: 924px;
    height: 53px;
    gap: 8px;
  }

  .headline h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    width: 924px;
    height: 26px;
    margin: 0px;
  }

  .headline p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    width: 924px;
    height: 19px;
    margin-top: 8px;
  }

  /*filterbar*/

  .filterbar {
    width: 668px;
    height: 91px;
    gap: 20px;
    background: white;
    border: 1px solid transparent;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    width: 668px;
    height: 50px;
    gap: 10px;
    border-radius: 25px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    margin-top: -15px;
  }

  .filterbar .babyfiltre {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
  }

  .infobar {
    width: 924px;
    height: 24px;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 924px;
    height: 913px;
    gap: 50px;
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  /*herbergements*/

  .hebergements {
    width: 100%;
    height: 913.5px;
    display: flex;
    flex-wrap: wrap;
  }

  .hebergements-title {
    width: 924px;
    height: 26px;
  }

  .hebergements-title h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83;
    height: 26px;
    margin: 0;
    padding-left: 20px;
    text-align: left;
  }

  .container-img {
    width: 871px;
    height: auto;
    gap: 40px;
    margin-top: 25px;
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    width: 864px;
    height: 21px;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  /*populaires*/
  .populaires {
    width: 100%;
    height: 252px;
    padding: 30px 0px 0px 0px;
    gap: 20px;
    border-radius: 15px 0px 0px 0px;
  }

  .frame16 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .frame16 .card {
    margin-top: 20px;
  }

  .frame16 a {
    width: 30%;
  }

  .frame16 .card-title {
    font-size: 14px;
  }

  .frame16 .card-subtitle {
    font-size: 13px;
  }

  /*section activités*/

  h6 {
    width: 864px;
    height: 30.02px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    color: black;
    display: flex;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .section-activité {
    width: 924px;
    height: 390.02px;
    padding: 30px 0px 0px 0px;
    gap: 30px;
    opacity: 0px;
  }

  .Activités-à-Marseille {
    width: 100%;
    height: 390.02px;
  }

  .frame14 {
    width: 864px;
    height: 290px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 25px;
    margin-top: -20px;
  }

  .activité {
    width: 193.5px;
    height: 290px;
    border-radius: 20px 0px 0px 0px;
  }

  .frame14 img {
    width: 193.5px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin-top: 20px;
  }

  .frame {
    width: 193.5px;
    height: 70px;
    border-radius: 0px 0px 20px 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .lieux {
    width: 193.5px;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: black;
    gap: 10px;
  }

  .frame .lieux h3 {
    width: 155.5px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    margin: 0;
  }

  .frame.lieux {
    margin: 0;
    width: 193.5px;
  }
  /*footer*/

  .footer {
    width: 924px;
    height: 163px;
    gap: 30px;
    margin-left: 5%;
    margin-top: 80px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 439.67px;
    height: 163px;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 15px;
    list-style-type: none;
    margin: 0;
  }

  .footer-section h3 {
    font-weight: bold;
    font-size: 18px;
    width: 50%;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 163px;
    gap: 15px;
    padding-left: 5%;
  }

  .a-propos {
    width: 446.67px;
    height: 163px;
    gap: 15px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** General ***********/
  * {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
  }

  :root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
  }

  .fa-solid {
    color: var(--main-color);
  }

  html {
    display: flex;
    justify-content: center;
    width: 375px;
    height: 4058px;
  }

  body {
    width: 375px;
    height: 4058.02px;
    display: flex;
    flex-direction: column;
  }

  main {
    width: 100%;
    gap: 35px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .section-title {
    margin: 0;
    font-size: 22px;
  }

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .card img {
    object-fit: cover;
  }

  .card-title {
    font-size: 16px;
  }

  .euro {
    font-weight: 700;
  }

  .neutral-star {
    color: var(--main-bg-color);
  }

  .main-container {
    width: 375px;
    height: 3600px;
    gap: 35px;
    display: flex;
    flex-direction: column;
  }

  /*header*/

  .barre-navigation {
    width: 375px;
    height: 115px;
    display: flex;
    align-items: center;
    color: black;
    list-style-type: none;
    flex-direction: column;
  }

  .logo {
    width: 121.09px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0px 0px 0px;
  }

  .liens {
    display: flex;
    justify-content: space-around;
    width: 375px;
    height: 79px;
  }

  .barre-navigation .bordure {
    width: 187.5px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .bordure:hover {
    border-bottom-color: blue;
    color: #0065fc;
  }

  /*info-group*/

  .info-group {
    width: 375px;
    height: 432px;
    gap: 35px;
    display: block;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }

  .headline {
    width: 335px;
    height: 79px;
  }

  .headline h1 {
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    height: 52px;
  }

  .headline p {
    width: 335px;
    height: 19px;
  }

  /*search-bar*/

  .search-bar {
    width: 335px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .search {
    width: 236px;
    height: 21px;
    top: 14px;
    border: none;
  }

  ::placeholder {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    padding-left: 24px;
  }

  .buttonsearch {
    width: 49px;
    height: 49px;
    border-radius: 15px;
    border: 1px 0px 0px 0px;
  }

  #searchbutton {
    color: transparent;
    text-shadow: none;
    width: 49px;
    height: 49px;
    border-radius: 15px;
    border: 1px 0px 0px 0px;
  }

  #searchbutton::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    color: white;
    padding-left: 9px;
  }

  /*filterbar*/

  .filterbar {
    width: 335px;
    height: 161px;
    background: white;
    border: 1px solid transparent;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  h2 {
    width: 54px;
    height: 21px;
  }

  .filterbar .babyfiltre {
    width: 48%;
    height: 50px;
    border-radius: 25px;
    border: 2px 0px 0px 0px;
  }

  #searchbutton {
    width: 54px;
  }

  .infobar {
    width: 335px;
    height: 38px;
    gap: 10px;
  }

  .fa-info::before {
    display: flex;
    justify-content: center;
    font-size: 13px;
  }

  .infobar i {
    border: 2px solid #deebff;
    width: 28px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  /*herbergements and populaires*/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 2019.5px;
    gap: 15px;
    margin: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
  }

  /*populaires*/
  .populaires {
    width: 375px;
    order: 1;
    height: 569px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .populaires-title {
    width: 335px;
    height: 26px;
  }

  .frame16 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .frame16 a {
    width: 335px;
    height: 146px;
    border-radius: 20px;
    display: flex;
  }

  .frame16 .card-title {
    font-size: 14px;
    display: flex;
  }

  .frame16 .card-subtitle {
    font-size: 13px;
  }

  /*hebergements*/
  .hebergements {
    width: 375px;
    order: 2;
    height: 1435.5px;
    gap: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .hebergements-and-populaires .hebergements {
    background-color: transparent;
  }
  .hebergements-title h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83;
    height: 26px;
    margin: 0;
    width: 335px;
    display: flex;
    align-items: center;
  }

  .container-img {
    width: 100%;
    height: 1358.5px;
    gap: 15px;
    margin: 0;
  }
  .hebergements .card-main {
    width: 100%;
    height: 207.25px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001a;
    gap: 4px;
  }

  .card-main img {
    width: 335px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
  }

  .hebergements .frame16 {
    width: 335px;
    height: 64.25px;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px, 15px, 0px, 15px;
  }

  .frame16 .card {
    margin: 0;
  }

  .frame16 .card-txt {
    width: 335px;
    height: 88px;
    font-size: 16px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .hebergements .frame16 .card-title {
    font-weight: 700;
    line-height: 18.78px;
    width: 235px;
    height: 19px;
    font-size: 16px;
    margin: 0;
  }

  .frame16 .card-subtitle {
    font-weight: 400;
    line-height: 16.44px;
    width: 245px;
    height: 16px;
    font-size: 14px;
  }

  .frame16 .card-rating {
    margin: 0;
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 335px;
    height: 21px;
    text-align: left;
    display: flex;
    padding-bottom: 5px;
  }

  .fa-solid::before {
    font-size: 14px;
    color: #0065fc;
  }

  /*section activités*/

  h6 {
    width: 315px;
    height: 30.02px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    color: black;
    display: flex;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-activité {
    width: 375px;
    padding: 20px;
  }

  .Activités-à-Marseille {
    width: 375px;
    height: 965.02px;
    gap: 30px;
  }

  .frame14 {
    width: 315px;
    height: 885px;
    display: flex;
    flex-direction: column;
  }

  .activité {
    width: 315px;
    height: 200px;
    border-radius: 20px;
  }

  .frame14 img {
    width: 315px;
    height: 141px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    box-shadow: 0px 3px 15px 0px #0000001a;
  }

  .frame {
    width: 315px;
    height: 59px;
    border-radius: 20px 19px 20px 19px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .lieux {
    width: 315px;
    height: 59px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 15px 0px #0000001a;
  }

  .frame.lieux h3 {
    width: 315px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    padding-left: 15px;
  }

  /*footer*/

  .footer {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 461px;
    list-style: none;
    font-size: 16px;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 30px;
    gap: 50px;
  }

  .footer-section {
    width: 263.67px;
    height: 123px;
    gap: 15px;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

/*Large devices (Desktop, more than 1440px)*/
@media screen and (min-width: 1440px) {
  body {
    padding-left: calc(
      (100% - 1440px) / 2
    ); /*calculer la marge blanche à gauche*/
    padding-right: calc(
      (100% - 1440px) / 2
    ); /*calculer la marge blanche à droite*/
  }

  .barre-navigation {
    width: 100%;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    list-style-type: none;
    padding: 0;
    top: 0;
    gap: 30px;
  }
}

@media screen and (min-widht: 1024px) and (max-width: 1440px) {
  .body {
    max-width: 100%;
  }
}
